main {
    display: flex;
    flex-direction: column;
}

form {
    flex: 1 1;
    display: flex;
}

.grow-section {
    flex: 1 1;
    display: flex;
}

.grow-section > input, .grow-section > textarea {
    flex-grow: 1;
}