html,body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header, main {
    display: block;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 1.5rem;
}

.posts-list article {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.posts-list > *:first-child {
    margin-top: 0;
}

.posts-list > *:last-child {
    margin-bottom: 0;
}

.post-content {
    white-space: pre-wrap;
}

.pagination {
    min-height: 2;
    justify-content: center;
    text-align: center;

    p {
        vertical-align: middle;
        line-height: 3em;
    }

    svg {
        height: 1em;
    }
}